<div class="form-container">
  <button class="btn w-auto border-0 rounded-0 back-menu" [routerLink]="['/menu']">
    <i class="fa fa-backward"></i> Menu</button>

  <div class="form-container" *ngIf="passwords.length === 0 && passwordsReady">
    <button mat-flat-button color="warn" disabled>
      No passwords to display!
    </button>
    <button mat-flat-button [routerLink]="['/new']"> 
      Add password
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div class="form-container" *ngIf="!passwordsReady">
    <button mat-flat-button disabled>
      Please wait...
    </button>
  </div>

  <div class="form-container search-field" *ngIf="passwords.length !== 0 && passwordsReady">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Looking for..." name="searchField" [(ngModel)]="searchField" maxlength="12">
      <mat-icon matSuffix (click)="clearSearchField()" style="cursor:pointer">
        <i class="fa fa-times" *ngIf="searchField.length != 0"></i>
      </mat-icon>
    </mat-form-field>
  </div>
 <!-- Form Driven Template -->
  <div class="pack form-container" *ngFor="let password of passwords | passwordsFilter:searchField">
    <button mat-flat-button (click)="show(password.id)">
      {{ password.name }}
      <i class="fa fa-clipboard"></i>
    </button>
    <form #editForm="ngForm" (ngSubmit)="editPassword(password)" *ngIf="elementNr == password.id">
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput value="Created: {{password.created | date}}" style="text-align: left" readonly>
          <input matInput value="Updated: {{password.updated | date}}" style="text-align: left" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="None" name="username" [(ngModel)]="password.username" maxlength="36">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea matInput placeholder="None" name="comment" [(ngModel)]="password.comment" maxlength="255"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Hint</mat-label>
          <input matInput placeholder="None" name="hint" [(ngModel)]="password.hint" maxlength="24">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Secret Question</mat-label>
          <textarea matInput placeholder="None" name="secretQuestion" [(ngModel)]="password.secretQuestion" maxlength="155"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Answer</mat-label>
          <input matInput placeholder="None" name="answer" [(ngModel)]="password.answer" maxlength="36">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Other</mat-label>
          <input matInput placeholder="None" name="other" [(ngModel)]="password.other" maxlength="24">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{status}}</mat-label>
          <input matInput name="passwordEncrypt" [(ngModel)]="password.passwordEncrypt" *ngIf="showPass" required 
          maxlength="24" style="font-family: 'Courier New', Courier, monospace">
          <input matInput *ngIf="!showPass" readonly>
          <mat-icon matSuffix (click)="visibleTogglePromise(password)" style="cursor:pointer">
            <i class="fa fa-eye" *ngIf="!showPass"></i>
            <i class="fa fa-eye-slash" *ngIf="showPass"></i>
          </mat-icon>
        </mat-form-field>

        <div class="btn-options">
        <button mat-flat-button type="submit" [disabled]="!editForm.dirty || editForm.invalid">
          Save
          <i class="fa fa-save"></i>
        </button>
        <button mat-flat-button (click)="cancel()" type="reset">
          Cancel
          <i class="fa fa-ban"></i>
        </button>
        </div>
        <button mat-flat-button (click)="deletePassword(password.id)" type="button" color="warn">
          Delete
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </form>
  </div>
</div>