input, textarea{
    text-align: center;
}

.pack{
    margin-bottom: 10px;
}

button{
    margin-top: 5px;
}

.pack form .form-container{
    width: 90%;
    margin-top: 25px;
}
.hidden{ 
    display: none;
}
.active{
    display: block;
}

.btn-options{
    display: flex;
    justify-content: space-between;
}
.btn-options > *{
    width: 49%;
}
div.search-field mat-form-field{
    padding: 0;
    margin-bottom: -10px;
    text-align: center;
}