<div class="form-container">
  <button class="btn w-auto border-0 rounded-0 back-menu" [routerLink]="['/menu']">
    <i class="fa fa-backward"></i> Menu
  </button>

  <h3>Password App</h3>
  <h6>Is a Web Application designed to store different types of passwords (including PIN cards, codes or other secrets).</h6>
  <h6> Some of the features:</h6>
  <ul>
    <li>The Passwords and Entry Codes get encrypted before are saved in database.</li>
    <li>The app has Login / Register forms.</li>
    <li>Supports unlimited nr of passwords per user.</li>
    <li>Auto Log Out after 30 min of LoggedIn time.</li>
    <li>Using the lastest tehnologies, the app is developed in ASP.NET and ANGULAR.</li>
    <li>User friendly, easy to use and intuitive.</li>
    <li>And not the last...it provides a high level of safety for your Passwords.</li>
  </ul>
</div>