<div style="text-align:center; margin: 20px 0">
  <img width="200" alt="Password App" class="img-title" src="../assets/pad.png">
</div>

<router-outlet></router-outlet>

<footer>
  <div class="container text-center u-space-1">
    <p class="small">© 2018 - {{year === 2018 ? '' : year}} All rights reserved.</p>

    <ul class="list-inline mt-4">
      <li class="list-inline-item">
        <a class="btn-link h5 text-light pr-2" href="https://github.com/taboo09">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-link h5 pr-2" href="https://www.facebook.com/marius.taboo">
          <i class="fa fa-facebook-official"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-link h5 text-warning pr-2" href="https://www.linkedin.com/in/mariusstanciu">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>

</footer>

