<form [formGroup]="passwordForm" (ngSubmit)="addPassword()">
  <div class="form-container">
    <mat-form-field>
      <input matInput [formControl]="passwordForm.get('name')" maxlength="24" required
      placeholder="{{!passwordForm.get('name').valid && passwordForm.get('name').touched ? 
      'Name is required' : 'Name' }}">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="passwordForm.get('username')" maxlength="36"
      placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [formControl]="passwordForm.get('comment')" maxlength="255"
      placeholder="Comment"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="passwordForm.get('hint')" maxlength="24"
      placeholder="Hint">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [formControl]="passwordForm.get('secretquestion')" maxlength="155"
      placeholder="Secret Question"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="passwordForm.get('answer')" maxlength="36"
      placeholder="Answer">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="passwordForm.get('other')" maxlength="24"
      placeholder="Other">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="passwordForm.get('passwordencrypt')" maxlength="24" required
      placeholder="{{!passwordForm.get('passwordencrypt').valid && passwordForm.get('passwordencrypt').touched ? 
      'Password is required' : 'Password' }}">
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="!passwordForm.valid" type="submit">Save
      <i class="fa fa-save"></i>
    </button>
    <button mat-flat-button color="warn" type="button" (click)="cancel()">Cancel <i class="fa fa-ban"></i></button>
  </div>
</form>